@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Source+Sans+Pro:wght@200&display=swap");

:root {
  --color-main: #80a6ad;
  --color-white: #eeeff1;
  --color-gray: #9c9c9c;
  --color-green: #405357;
  --color-lightgreen: #5d7e83;
  --color-white: #fdfdfd;
}

.hidden {
  display: none;
}

body {
  margin: 0;
  background-color: #eeeff1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: #9c9c9c;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #fdfdfd;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px 200px;
  height: 100px;
  position: sticky;
  top: 0px;
  justify-content: center;
  z-index: 100;
}

.navbar_menu i {
  color: #405357;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
  margin: 50px;
  font-size: 15px;
}

.login {
  position: absolute;
  right: 32px;
}

#container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.signUP_form {
  display: inline;
  width: 500px;
  height: 600px;
  justify-content: center;
  padding: 15px;
  border-color: var(--color-gray);
  border: 3px solid var(--color-lightgreen);
}

.welcome {
  font-size: 40px;
}

.form {
  display: flex;
}

span {
  font-size: 25px;
  width: 200px;
  padding: 5px;
}

input {
  height: 20px;
  margin: 10px;
}

#id_ok {
  height: 20px;
}

.btn {
  text-align: center;
  margin: 30px;
}

#btn_enter {
  background-color: var(--color-main);
  color: var(--color-green);
  border-color: var(--color-white);
}
#btn_idok {
  background-color: var(--color-main);
  color: var(--color-green);
  border-color: var(--color-white);
  width: 80px;
  height: 30px;
  margin: 8px;
}

#greeting {
  text-align: center;
  font-size: 60px;
  color: var(--color-green);
}

#main_btn {
  position: relative;
  left: 800px;
  background-color: var(--color-main);
  color: var(--color-green);
  border-color: var(--color-white);
  width: 200px;
  height: 100px;
  margin: 30px;
  font-size: 35px;
  margin-bottom: 500px;
}

footer {
  background-color: #78a1a8;
  width: 100%;
  height: 150px;
}
.foo_img {
  width: 280px;
  height: 150px;
}
